.row {
	display: flex;
	flex-flow: row wrap;
}

.row > .col {
	display: block;
	flex: 1 1 0;
	width: auto;
}

@media (min-width: 0em) {
	.row > .col.xs-0 {
		display: none;
	}
	.row > .col.xs-1,
	.row > .col.xs-2,
	.row > .col.xs-3,
	.row > .col.xs-4,
	.row > .col.xs-5,
	.row > .col.xs-6,
	.row > .col.xs-7,
	.row > .col.xs-8,
	.row > .col.xs-9,
	.row > .col.xs-10,
	.row > .col.xs-11,
	.row > .col.xs-12,
	.row > .col.xs-min,
	.row > .col.xs-max {
		display: block;
	}
	.row > .col.xs-1,
	.row > .col.xs-2,
	.row > .col.xs-3,
	.row > .col.xs-4,
	.row > .col.xs-5,
	.row > .col.xs-6,
	.row > .col.xs-7,
	.row > .col.xs-8,
	.row > .col.xs-9,
	.row > .col.xs-10,
	.row > .col.xs-11,
	.row > .col.xs-12,
	.row > .col.xs-min {
		flex: none;
	}
	.row > .col.xs-min,
	.row > .col.xs-max {
		width: auto;
	}
	.row > .col.xs-1 {
		width: 8.3333%;
	}
	.row > .col.xs-2 {
		width: 16.6667%;
	}
	.row > .col.xs-3 {
		width: 25%;
	}
	.row > .col.xs-4 {
		width: 33.3333%;
	}
	.row > .col.xs-5 {
		width: 41.6667%;
	}
	.row > .col.xs-6 {
		width: 50%;
	}
	.row > .col.xs-7 {
		width: 58.3333%;
	}
	.row > .col.xs-8 {
		width: 66.6667%;
	}
	.row > .col.xs-9 {
		width: 75%;
	}
	.row > .col.xs-10 {
		width: 83.3333%;
	}
	.row > .col.xs-11 {
		width: 91.6667%;
	}
	.row > .col.xs-12 {
		width: 100%;
	}
	.row > .col.xs-max {
		flex: 1 1 0;
	}
}

@media (min-width: 32em) {
	.row > .col.sm-0 {
		display: none;
	}
	.row > .col.sm-1,
	.row > .col.sm-2,
	.row > .col.sm-3,
	.row > .col.sm-4,
	.row > .col.sm-5,
	.row > .col.sm-6,
	.row > .col.sm-7,
	.row > .col.sm-8,
	.row > .col.sm-9,
	.row > .col.sm-10,
	.row > .col.sm-11,
	.row > .col.sm-12,
	.row > .col.sm-min,
	.row > .col.sm-max {
		display: block;
	}
	.row > .col.sm-1,
	.row > .col.sm-2,
	.row > .col.sm-3,
	.row > .col.sm-4,
	.row > .col.sm-5,
	.row > .col.sm-6,
	.row > .col.sm-7,
	.row > .col.sm-8,
	.row > .col.sm-9,
	.row > .col.sm-10,
	.row > .col.sm-11,
	.row > .col.sm-12,
	.row > .col.sm-min {
		flex: none;
	}
	.row > .col.sm-min,
	.row > .col.sm-max {
		width: auto;
	}
	.row > .col.sm-1 {
		width: 8.3333%;
	}
	.row > .col.sm-2 {
		width: 16.6667%;
	}
	.row > .col.sm-3 {
		width: 25%;
	}
	.row > .col.sm-4 {
		width: 33.3333%;
	}
	.row > .col.sm-5 {
		width: 41.6667%;
	}
	.row > .col.sm-6 {
		width: 50%;
	}
	.row > .col.sm-7 {
		width: 58.3333%;
	}
	.row > .col.sm-8 {
		width: 66.6667%;
	}
	.row > .col.sm-9 {
		width: 75%;
	}
	.row > .col.sm-10 {
		width: 83.3333%;
	}
	.row > .col.sm-11 {
		width: 91.6667%;
	}
	.row > .col.sm-12 {
		width: 100%;
	}
	.row > .col.sm-max {
		flex: 1 1 0;
	}
}

@media (min-width: 48em) {
	.row > .col.md-0 {
		display: none;
	}
	.row > .col.md-1,
	.row > .col.md-2,
	.row > .col.md-3,
	.row > .col.md-4,
	.row > .col.md-5,
	.row > .col.md-6,
	.row > .col.md-7,
	.row > .col.md-8,
	.row > .col.md-9,
	.row > .col.md-10,
	.row > .col.md-11,
	.row > .col.md-12,
	.row > .col.md-min,
	.row > .col.md-max {
		display: block;
	}
	.row > .col.md-1,
	.row > .col.md-2,
	.row > .col.md-3,
	.row > .col.md-4,
	.row > .col.md-5,
	.row > .col.md-6,
	.row > .col.md-7,
	.row > .col.md-8,
	.row > .col.md-9,
	.row > .col.md-10,
	.row > .col.md-11,
	.row > .col.md-12,
	.row > .col.md-min {
		flex: none;
	}
	.row > .col.md-min,
	.row > .col.md-max {
		width: auto;
	}
	.row > .col.md-1 {
		width: 8.3333%;
	}
	.row > .col.md-2 {
		width: 16.6667%;
	}
	.row > .col.md-3 {
		width: 25%;
	}
	.row > .col.md-4 {
		width: 33.3333%;
	}
	.row > .col.md-5 {
		width: 41.6667%;
	}
	.row > .col.md-6 {
		width: 50%;
	}
	.row > .col.md-7 {
		width: 58.3333%;
	}
	.row > .col.md-8 {
		width: 66.6667%;
	}
	.row > .col.md-9 {
		width: 75%;
	}
	.row > .col.md-10 {
		width: 83.3333%;
	}
	.row > .col.md-11 {
		width: 91.6667%;
	}
	.row > .col.md-12 {
		width: 100%;
	}
	.row > .col.md-max {
		flex: 1 1 0;
	}
}

@media (min-width: 64em) {
	.row > .col.lg-0 {
		display: none;
	}
	.row > .col.lg-1,
	.row > .col.lg-2,
	.row > .col.lg-3,
	.row > .col.lg-4,
	.row > .col.lg-5,
	.row > .col.lg-6,
	.row > .col.lg-7,
	.row > .col.lg-8,
	.row > .col.lg-9,
	.row > .col.lg-10,
	.row > .col.lg-11,
	.row > .col.lg-12,
	.row > .col.lg-min,
	.row > .col.lg-max {
		display: block;
	}
	.row > .col.lg-1,
	.row > .col.lg-2,
	.row > .col.lg-3,
	.row > .col.lg-4,
	.row > .col.lg-5,
	.row > .col.lg-6,
	.row > .col.lg-7,
	.row > .col.lg-8,
	.row > .col.lg-9,
	.row > .col.lg-10,
	.row > .col.lg-11,
	.row > .col.lg-12,
	.row > .col.lg-min {
		flex: none;
	}
	.row > .col.lg-min,
	.row > .col.lg-max {
		width: auto;
	}
	.row > .col.lg-1 {
		width: 8.3333%;
	}
	.row > .col.lg-2 {
		width: 16.6667%;
	}
	.row > .col.lg-3 {
		width: 25%;
	}
	.row > .col.lg-4 {
		width: 33.3333%;
	}
	.row > .col.lg-5 {
		width: 41.6667%;
	}
	.row > .col.lg-6 {
		width: 50%;
	}
	.row > .col.lg-7 {
		width: 58.3333%;
	}
	.row > .col.lg-8 {
		width: 66.6667%;
	}
	.row > .col.lg-9 {
		width: 75%;
	}
	.row > .col.lg-10 {
		width: 83.3333%;
	}
	.row > .col.lg-11 {
		width: 91.6667%;
	}
	.row > .col.lg-12 {
		width: 100%;
	}
	.row > .col.lg-max {
		flex: 1 1 0;
	}
}

@media (min-width: 80em) {
	.row > .col.xl-0 {
		display: none;
	}
	.row > .col.xl-1,
	.row > .col.xl-2,
	.row > .col.xl-3,
	.row > .col.xl-4,
	.row > .col.xl-5,
	.row > .col.xl-6,
	.row > .col.xl-7,
	.row > .col.xl-8,
	.row > .col.xl-9,
	.row > .col.xl-10,
	.row > .col.xl-11,
	.row > .col.xl-12,
	.row > .col.xl-min,
	.row > .col.xl-max {
		display: block;
	}
	.row > .col.xl-1,
	.row > .col.xl-2,
	.row > .col.xl-3,
	.row > .col.xl-4,
	.row > .col.xl-5,
	.row > .col.xl-6,
	.row > .col.xl-7,
	.row > .col.xl-8,
	.row > .col.xl-9,
	.row > .col.xl-10,
	.row > .col.xl-11,
	.row > .col.xl-12,
	.row > .col.xl-min {
		flex: none;
	}
	.row > .col.xl-min,
	.row > .col.xl-max {
		width: auto;
	}
	.row > .col.xl-1 {
		width: 8.3333%;
	}
	.row > .col.xl-2 {
		width: 16.6667%;
	}
	.row > .col.xl-3 {
		width: 25%;
	}
	.row > .col.xl-4 {
		width: 33.3333%;
	}
	.row > .col.xl-5 {
		width: 41.6667%;
	}
	.row > .col.xl-6 {
		width: 50%;
	}
	.row > .col.xl-7 {
		width: 58.3333%;
	}
	.row > .col.xl-8 {
		width: 66.6667%;
	}
	.row > .col.xl-9 {
		width: 75%;
	}
	.row > .col.xl-10 {
		width: 83.3333%;
	}
	.row > .col.xl-11 {
		width: 91.6667%;
	}
	.row > .col.xl-12 {
		width: 100%;
	}
	.row > .col.xl-max {
		flex: 1 1 0;
	}
}
